
@model IOrderedEnumerable<KeyValuePair<Bros.DataModel.User, double>>



<h1>And  your results are...</h1>
<p class="error">@ViewBag.Message</p>
<p>
    @foreach(KeyValuePair<Bros.DataModel.User, double> x in Model){
        
        @: @x.Key.Profile.FirstName , @x.Key.Profile.LastName and @x.Value.ToString("F", System.Globalization.CultureInfo.InvariantCulture)%
    @: <p></p>
    }

</p>