@model Bros.DataModel.Profile


<h2 class="title">@ViewBag.SubTitle</h2>

     @Html.ValidationSummary()
    @using (Html.BeginForm())
    {             
      @Html.Partial("Partials/_AttributeForm", Model)
     <p>@Html.CheckBox("searchInArea") Search for Bros near me</p> 
        
        <p><input type="submit" value="Find Bros" /></p>
        
    }
