@model List<Bros.DataModel.User>

<h2 class="title">Search</h2>
@using (Html.BeginForm("Search", "Bros", FormMethod.Get))
{
	<p><input type="text" placeholder="search for user" name="query" value="@ViewBag.Query" /></p>
}

@Html.Partial("Browse", Model)