@model List<Bros.DataModel.User>

<h2 class="title">Search</h2>
@using (Html.BeginForm("Search", "Bros", FormMethod.Get))
{
	<input type="search" placeholder="search for user" name="query" value="@ViewBag.Query" />
}

@Html.Partial("Browse", Model)