@{
	Layout = "LoggedInLayout.cshtml";
}

@section SecondaryNavigation
{
	<li>@Html.ActionLink("Change Profile Picture", "ChangeProfilePhoto", "Content")</li>
	<li>@Html.ActionLink("Edit Preferences", "Edit", "Profile")</li>
	<li>@Html.ActionLink("Manage Albums", "ManageAlbums", "Content")</li>
}

@RenderBody()