@using System.Globalization
@model Bros.DataModel.Profile

@{
    var base64 = "";
    using(var context = new Bros.DataModel.ModelFirstContainer()){

        if(Model.ProfilePhoto != null){
    base64 = Convert.ToBase64String(Model.ProfilePhoto.ImageData);
        }
        else{
            var imagePath = Server.MapPath("~/Content/Images/defaultPic.jpg");
            System.Drawing.Image img = System.Drawing.Image.FromFile(imagePath);
            byte[] arr;
            using (MemoryStream ms = new MemoryStream())
            {
                img.Save(ms, System.Drawing.Imaging.ImageFormat.Jpeg);
                arr = ms.ToArray();

            }

            base64 = Convert.ToBase64String(arr);
        }
       
}
 var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
}

@{
    string first = @Model.FirstName;
    string last = @Model.LastName;

    string firstToUpper = CultureInfo.CurrentCulture.TextInfo.ToTitleCase(first);
    string lastToUpper = CultureInfo.CurrentCulture.TextInfo.ToTitleCase(last);   
}

<img class="profilePic" src=@imgSrc /><br /><span>@firstToUpper @lastToUpper</span>
