@model Bros.DataModel.User

@{
    var base64 = "";
    using(var context = new Bros.DataModel.ModelFirstContainer()){

        Bros.DataModel.Photo profilePic = context.Posts.Where(x => x is Bros.DataModel.Photo).Select(p => p as Bros.DataModel.Photo).FirstOrDefault(u => u.ProfilePhotoOf.Id == Model.Id);
    Bros.DataModel.Photo post = profilePic;
    base64 = Convert.ToBase64String(post.ImageData);
    }
     
    var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
}

<header><img src=@imgSrc /><span>@Model.Profile.FirstName @Model.Profile.LastName</span></header>
