@model Bros.DataModel.Product
@{
    
}

<link href="~/Content/Styles/store.css" rel="stylesheet" type="text/css"/>

<div class="ProductName">
    <p>@Html.ActionLink(@Model.Name, "ViewProductById", new { productID = Model.Id })</p>
</div>
<div class="ProductCategory">
    <p>Category: @Model.Category.Name</p>
</div>
@{
    var base64 = Convert.ToBase64String(Model.Image);
    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
}

<img class="ProductImage" src="@imgSrc" />
<div class="ProductPrice">
    <p>Product Price: $@Model.Price</p>
</div>