@model Bros.DataModel.Product
@{
    ViewBag.Title = "ProductView";
}

<h2>ProductView</h2>
<h2>Product Partial View</h2>
<!-- Product Image? -->
<div class="ProductName">@Model.Name</div>
<div class="ProductPrice">@Model.Price</div>
<div class="ProductCategory">@Model.Category</div>
<div class="ProductDescription">@Model.Description</div>

   <!-- 
<ul class="ProductTags">
       foreach (String s in Model.Tags)
    {
        <li class="Tag">s</li>
    } 
</ul>
       -->
