@using Bros.DataModel;
<h1>Store</h1>
<h3>Pound it!</h3>

@*@Html.Partial("~/Views/Layouts/_StoreLayout.cshtml")*@

@Html.ActionLink("All Products", "ViewAllProducts")

@{
    if (ViewBag.Products != null)
    {
        foreach (Product p in ViewBag.Products)
        {
            Html.RenderPartial("_ProductPartial", p);
        }
    }    
}