@{
    ViewBag.Title = "ViewCheckout";
}
You have been Checked out.




<div class ="CheckoutMessage">
    Your Order has been successfully checked out! 
@Html.ActionLink("Back to Store", "StoreIndex", "Store", null, new { @class = "icon-grocery-store", title = "Store" })
@Html.ActionLink("Home Feed ", "Index", "Home", null, new { @class = "icon-home", title = "Home" })
    
 
</div>



