@model Bros.DataModel.Product
@{
    ViewBag.Title = "ViewAllProducts";
}
 @using (Html.BeginForm("SortByCategory", "Store",FormMethod.Post, new { @class = "ProductCategory" }))
 {
     if (ViewBag.Categories != null)
     {
            <p>Category: @Html.DropDownListFor(x => x.Category, new SelectList(ViewBag.Categories, "Id", "Name"))</p>
     }
     if (ViewBag.ViewByCat != null)
     {
         @: Viewing By Category: @ViewBag.ViewByCat
     }
            <input type="submit" value="Go" />
 }

@foreach (Bros.DataModel.Product p in ViewBag.Products)
{
    Html.RenderPartial("_ProductPartial", p);
}

<br/>
<br/>
<p>@Html.ActionLink("Back", "StoreIndex", "Store")</p>