@{
    ViewBag.Title = "ViewCheckout";
}

<div class ="CheckoutMessage">
    Your Order has been successfully checked out! 
    @Html.ActionLink("Back to Store", "StoreIndex");
    @Html.ActionLink("Back to My Profile", "Index", "Profile");
</div>


