@{
    ViewBag.Title = "ViewCheckout";
}
You have been Checked out.

<<<<<<< HEAD
@Html.ActionLink(" ", "StoreIndex", "Store", null, new { @class = "icon-grocery-store", title = "Store" })

@Html.ActionLink(" ", "Index", "Home", null, new { @class = "icon-home", title = "Home" })
=======
<div class ="CheckoutMessage">
    Your Order has been successfully checked out! 
    @Html.ActionLink("Back to Store", "StoreIndex");
    @Html.ActionLink("Back to My Profile", "Index", "Profile");
</div>

>>>>>>> 311f560ac2275f7c2b72313fa199eccf7a7a726f

