@model List<Bros.Models.Compatibility>

@{
    ViewBag.Title = "SearchResults";
}

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table>
    <tr>
        <th>
            DateCreated
        </th>
        <th>
            Email
        </th>
        <th>
            Compatibility
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem=> item.CompatibilityOfUser)
        </td>
        <td>
            @Html.ActionLink("Send Bro Request", "SendBroRequest", "Profile", new { recieverID = item.Id }, null)
        </td>
    </tr>
}

</table>
