@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
    m
}

    <li>@Html.ActionLink("Change Profile Picture", "ChangeProfilePhoto", "Profile")</li>
    <li>@Html.ActionLink("Edit Preferences", "EditProfile", "Profile")</li>
    <li>@Html.ActionLink("Manage Albums", "ManageAlbums", "Profile")</li>

@RenderBody()