@model Bros.DataModel.BroRequest

<div class="BroRequestPartial">
    <p class="RequestMessage">@Model.Sender.Profile.FirstName @Model.Sender.Profile.LastName has sent you a Bro Request!</p>
    @Html.ActionLink("Accept!", "BroAccept", "Profile", Model, null);
    @Html.ActionLink("Dismiss", "DismissRequest", "Profile", Model, null);
</div>