@model Bros.DataModel.BroRequest

<div class="BroRequestAcceptedPartial">
    <p class="AcceptedMessage">You've accepted a Bro Request from @Model.Sender.Profile.FirstName @Model.Sender.Profile.LastName!</p>
</div>