@model Bros.DataModel.Post

<article>
@if (@Model is Bros.DataModel.TextPost)
{
	var post = Model as Bros.DataModel.TextPost;
	<p>@post.Content</p>
}
else if (@Model is Bros.DataModel.Photo)
{
	var post = Model as Bros.DataModel.Photo;
	<p>Some photo goes here</p>
}
else
{
	<p>something weird?</p>
}
</article>
Html.Partial("_CommentFeed", Model)