@model Bros.DataModel.User

<div class="UserPartialView">
    <h2>_UserPartialView</h2>
    <!-- User Profile Image? -->
    <div class="UserName">@Model.Profile.FirstName @Model.Profile.LastName</div>
    <div class="UserGender">@Model.Profile.Gender</div>
    <div class="SendBroRequest">@Html.ActionLink("Send Bro Request", "SendBroRequest", "Profile", new { Model }, null);</div>
</div>
