@{
    ViewBag.Title = "BroAccept";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="BroAccepted">
    @{ Html.RenderPartial("_BroRequestAcceptedPartial", (Bros.DataModel.BroRequest)ViewBag.Request); }

    <h3>My Bros</h3>

    @foreach(Bros.DataModel.User bro in ViewBag.Bros){
           Html.RenderPartial("_UserPartialView", bro);
    }
</div>
