@using Bros.DataModel
@model IEnumerable<Circle>

@{
    ViewBag.Title = "Circles";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="Circles">
    @foreach (Circle c in Model)
    {
        <div class="CircleBlock">
            <span class="CircleName">@c.Name</span>
            <div class="CircleMembers">
                <span class="CircleMembersTitle">Members:</span>
                @foreach (User u in c.Members)
                {
                    <span class="CircleMemberName">@u.Profile.FirstName @u.Profile.LastName</span>
                }
            </div>
        </div>
    }
</div>
