@model  Bros.DataModel.Profile

<h2 class="title">@ViewBag.SubTitle</h2>

<p class="info">@ViewBag.Message</p>
  @Html.ValidationSummary()
    @using (Html.BeginForm())
    {
        @Html.Partial("Partials/_AttributeForm", Model)
        <p><input type="submit" value="Save Changes" /></p>
        
    }

