@model List<Bros.DataModel.Post>
@{
    
    Layout = "~/Views/Layouts/_ProfileLayout.cshtml";
}

<br/>
<br/>
 @using (Html.BeginForm("FilterFeedByCircle", "Profile", FormMethod.Post, new { @class = "FiterByCircle" }))
 {
     if (ViewBag.Circles != null)
     {
            <span class="FiterByCircle">Circles: @Html.DropDownList("Circles",new SelectList(ViewBag.Circles, "Id", "Name"))</span>
     }
     if (ViewBag.ViewByCat != null)
     {
         @: Viewing By Category: @ViewBag.ViewByCat
     }
            <input type="submit" value="Go" />
 }
@Html.Partial("_StatusUpdateForm")

@if (Model != null)
{
    foreach (Bros.DataModel.Post post in Model)
    {
        Html.RenderPartial("_NewsFeedPartial", post);
    }
}