@using System.Globalization
@model Bros.DataModel.User

@{
    Layout = "~/Views/Shared/Layouts/ProfileLayout.cshtml";
}

<h1>@Model.Profile.FirstName</h1>
@Html.Partial("Partials/_ProfilePhoto", Model.Profile)
