
@using System.Globalization
@model Bros.DataModel.User

@{
    
    Layout = "~/Views/Layouts/_ProfileLayout.cshtml";
}

@{
    string first = @Model.Profile.FirstName;

    string firstToUpper = CultureInfo.CurrentCulture.TextInfo.ToTitleCase(first);
}

<br/>
<h1>Welcome, @firstToUpper!</h1>

@Html.Partial("~/Views/Shared/_ProfilePhoto.cshtml", Model.Profile)

