@model List<Bros.DataModel.Notification>

@{
    ViewBag.Title = "Notifications";
}

@Model.Count

@foreach(Bros.DataModel.Notification not in Model)
{
	if (not is Bros.DataModel.CommentNotification)
	{
		var cnot = not as Bros.DataModel.CommentNotification;
		<p>@cnot.Comment.Owner.Profile.FirstName @cnot.Comment.Owner.Profile.LastName commented on your post.</p>		
	}
	else if (not is Bros.DataModel.RequestNotification)
	{
		var cnot = not as Bros.DataModel.RequestNotification;
		Html.RenderPartial("_BroRequestPartial", cnot.BroRequest);
	}
}