@using Bros.DataModel

@model Profile
@{
    Layout = null;
    ViewBag.Title = "Sign-Up Here!";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @Html.Partial("ProfileAttribute_Partial", @Model)
    </div>
</body>
</html>



