@using Bros.DataModel

@model Profile

<p class="info">@ViewBag.Message</p>
        @Html.ValidationSummary()
    @using (Html.BeginForm())
    {             
      @Html.Partial("Partials/_AttributeForm", Model);
        <input type="submit" value="Save Changes" />
        
    }
