@model Bros.DataModel.User
@{
    Layout = "~/Views/Layouts/_ProfileLayout.cshtml";
}

<h2>Settings</h2>

@ViewBag.Success


@if(Model.BlockedBros.Count != 0 ){
   @:</br>
@: You have blocked: <br/>


foreach(Bros.DataModel.User bro in Model.BlockedBros){
    @bro.Profile.FirstName
        @bro.Profile.LastName
    @:<br />
 @Html.ActionLink("Un-block", "UnblockBro", "Profile", new { id = bro.Id}, false)
    @:<br />
}
}

