<h2>About Us</h2>

Bromance is the the best ways to get and stay in contact with your bros, 
or simply meet some new ones! Our site allows you to create and customize 
your own personalized profile, chat with your bros, or purchase some 
bro-merchandise from our store!
<br/>
<br/>
Other social sites aren't manly enough for what Bromance has to offer!
<br/>
<br/>

@Html.ActionLink("Sign up", "Register", "Authentication") now and get started meeting and communicating with your bros!
<br/>
<br/>
<hr/>

Bromance was created by:    

<p>Alejandro Gardea</p>
<p>Adam Homer</p>
<p>Matthew Johnson</p>
<p>Felix Milea-Ciobanu</p>
<p>Courtney Nguyen</p>
<p>Greg Nielsen</p>

