<!DOCTYPE html>

<<<<<<< HEAD
@section MainNavigation
{
    <li>@Html.ActionLink("Home", "Index", "Home")</li> 
    <li>@Html.ActionLink("Store", "StoreIndex", "Store")</li>            
}

<!--Body -->
<h2>About Us</h2>

@section Footer
{
    <div class="footerNav">
        <ul>
            <li>&copy; Bromance, 2013</li>
@*            <li>@Html.ActionLink("Legal", "TermsOfUse", "Home")</li>       *@   
        </ul>
    </div>   
}
=======
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        About Us
    </div>
</body>
</html>
>>>>>>> 2ec8d1ef5bd726c54f2519b16a85ddf7d0b01970
