<h1>Bro Code</h1>

The Bro Code is a set of rules meant to be a guideline to live by between Bros.
<br />
<br />
You know what they are.
<br />
<br />
Now live it.
<br />
<br />
Remember what you have already agreed to in the @Html.ActionLink("Terms & Conditions","TermsOfUse", "Home").
<br />
<br />
If you are still reading this, we assume you still do not understand the Bro Code. Below are some helpful links if you're still confused...
<br />
<br />
<a href="http://www.urbandictionary.com/define.php?term=bro%20code">Urban Dictionary</a>
<br/>
<a href="http://www.amazon.com/The-Bro-Code-Barney-Stinson/dp/143911000X">The Bro Code</a>
<br/>
<a href="http://www.brocode.org/the-code/">Brocode.org</a>
