@model List<Bros.DataModel.Post>

<h2 class="title">Feed</h2>

@using (Html.BeginForm())
{
	<p>Circles: @Html.DropDownList("Circle", new SelectList(ViewBag.Circles, "Id", "Name"))
	<input type="submit" value="Filter Posts" /></p>
}

@Html.Partial("Partials/_StatusUpdateForm")

@foreach (Bros.DataModel.Post post in Model)
{
	Html.RenderPartial("Partials/_UserPost", post);
}