@model List<Bros.DataModel.Post>

<h2 class="title">Feed</h2>

@using (Html.BeginForm())
{
	<p style="width:520px;">@Html.DropDownList("Circle", new SelectList(ViewBag.Circles, "Id", "Name"))
	<span style="margin-right:50px;"><input type="submit" value="Filter Posts" /></span></p>
}

@Html.Partial("Partials/_StatusUpdateForm")

@foreach (Bros.DataModel.Post post in Model)
{
	Html.RenderPartial("Partials/_UserPost", post);
}