@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GarbageView</title>
</head>
<body>
    <div>
      @{Html.RenderPartial("~/Views/Store/_AddCategory.cshtml");}

    </div>
</body>
</html>
