<h1>Bromance</h1>
<h2>You can't have enough bros!</h2>

<div class="registerNow">
    <h3>Sign up now and start connecting with Bros!</h3>
    @Html.ActionLink("Sign Up!", "Register", "Authentication")
</div>
    