<h2 class="title">Bromance</h2>
<p>You can't have enough bros!</p>

<div>
    <p>Sign up now and start connecting with Bros!</p>
    <p>@Html.ActionLink("Sign Up!", "Register", "Authentication")</p>
</div>