@model List<Bros.DataModel.Notification>

@if (Model.Count > 0)
{
	foreach (Bros.DataModel.Notification not in Model)
	{
		<p>
		@if (not is Bros.DataModel.CommentNotification)
		{
			var cnot = not as Bros.DataModel.CommentNotification;
			@: @cnot.Comment.Owner.Profile.FirstName @cnot.Comment.Owner.Profile.LastName commented on your 
			@: @Html.ActionLink("post", "Post", "Content", new { id = cnot.Comment.PostId }, null).
			
		}
		else if (not is Bros.DataModel.RequestNotification)
		{
			var cnot = not as Bros.DataModel.RequestNotification;
			Html.RenderPartial("Partials/_BroRequest", cnot.BroRequest);
		}
		</p>
	}
}
else
{
	<p>No new notifications.</p>
}