@model Bros.DataModel.Comment

<article class="comment">
	<div class="mini-profile">@Html.Partial("Partials/_User", Model.Owner)</div>
	<p>@Model.Content</p>
	<span class="time">@Model.DateCreated</span>
</article>