
@if (!ViewBag.IsMuted)
{
	using(Html.BeginForm("PostStatus", "Content", FormMethod.Post))
	{
		<p><textarea name="status" placeholder="Enter status update"></textarea>
		<input type="submit" value="Post Status" /></p>
	}
}