@model Bros.DataModel.User

<p><a href="/Profile/View/@Model.Id" title="view profile">@Html.Partial("Partials/_ProfilePhoto", Model.Profile)
	<span class="username">@Model.Profile.FirstName @Model.Profile.LastName</span></a></p>