

       @Html.ValidationSummary()
    @using (Html.BeginForm("PostCreateMessage","Messaging", FormMethod.Post))
    {

        <input type="hidden" value="@ViewBag.ReceiverId" name="Receiver"/>
        <p>@Html.TextBox("Content")</p>
        <input type="submit" value="Send Message" />
        
    }






