@model Bros.DataModel.Message

       @Html.ValidationSummary()
    @using (Html.BeginForm("PostCreateMessage","Messaging", FormMethod.Post))
    {

        <p>To: @Html.DropDownListFor(x => x.Receiver, new SelectList(ViewBag.Users, "Id", "Name"))</p>
        <p>@Html.TextBoxFor(x=>x.Content ))</p>
        <input type="submit" value="Send Message" />
        
    }